<!DOCTYPE html>
<html ng-app="testHarnessApp">
    <head>
        <title>API AUTH Test TIA Resource service</title>
        <style>
        div, section { padding: 15px 15px; }
        </style>
    </head>
    <body ng-controller="testHarness">
        
        <h1>API AUTH Test Harness for TIA Resource service</h1>
        
        <div style="background: firebrick; color: white;" ng-show="isLoading">Loading...</div>
        <div style="background: dodgerblue; color: white;" ng-show="isSending">Sending...</div>
        <br/>
         
        
        <div style="border: 1px solid dodgerblue;">
            <form>
                <input type="text" ng-model="username"/>
                <input type="text" ng-model="password"/>
            </form>            
        </div>
        
        <section>
        
        </section>
        
        
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/tia-resource/tia-resource.js"></script>
        <script src="lib/tia-resource/tia-resource-dish.js"></script>
        <script src="app/testharness.js"></script>
    </body>
</html>