<!DOCTYPE html>
<html ng-app="testHarnessApp">
    <head>
        <title>API Test TIA Resource service</title>
        <style>
        body { font-family: roboto, sans-serif; }
        section { padding: 15px 15px; }
        input[type=text], input[type=password], input[type=number], input[type=date], select { padding: 5px; }
        </style>
    </head>
    <body ng-controller="testHarness">
        
        <h1>API Test Harness for TakeIn API ng service</h1>
            
        <aside>
            <span style="background: firebrick; color: white;" ng-show="isLoading">Loading...</span>
            <span style="background: dodgerblue; color: white;" ng-show="isSending">Sending...</span>
        </aside>
        
        <aside ng-controller="testHarnessMeta">
            <small style="background: green; color: white;">Current User: ({{ user.data.id }}) {{ user.data.username }}, API Token: {{ configs.apiToken }}</small>
        </aside>
         
         
        <section>
            <div>
                <h2>Select an option to get started</h2>
            </div>
            <button ng-click="screen = 'login' ">Login</button>
            <button ng-click="screen = 'dishes' ">Dishes</button>
            <button ng-click="screen = 'newdish' ">New dish</button>
            <button ng-click="screen = 'orders' ">Orders</button>
            <button ng-click="screen = 'neworder' ">New Order</button>
            <button ng-click="screen = 'users' ">Users</button>
            <button ng-click="screen = 'profile' ">My Account</button>
            <button ng-click="resetApiToken()">Reset API Token</button>
        </section>

        <section ng-show="screen == 'dishes' " ng-controller="dishTestHarness"  style="border: 1px solid dodgerblue;">
            <div>
                <h2>Multi Dish fetcher</h2>
                <div>
                    Num dishes: <input type="text" ng-model="opts.fetchHowMany"/>
                    <button ng-click="dishGetAll(opts.fetchHowMany)">Fetch all dishes</button>
                    <button ng-click="dishGetAll(opts.fetchHowMany, -1)">Fetch more before</button>
                    <button ng-click="dishGetAll(opts.fetchHowMany, 1)">Fetch more after</button>
                </div>
                <hr/>
                <h2>Single Dish fetcher</h2>
                <div>
                    <button ng-click="dishGet(opts.fetchDishId)">Fetch a dish</button>
                    <input type="text" ng-model="opts.fetchDishId" ng-init="1"/>
                </div>
                <hr/>
                <h2>Dish creater</h2>
                <div>
                    <button ng-click="opts.showDishCreateForm = !opts.showDishCreateForm">Create new dish</button>
                    <div ng-show="opts.showDishCreateForm">
                    <form ng-submit="dishCreate()">
                        <input type="text" ng-model="opts.newDish.name" placeholder="Name"/>
                        <input type="text" ng-model="opts.newDish.description" placeholder="Descriptions"/>
                        <input type="text" ng-model="opts.newDish.price_per_serving" placeholder="Price per serving"/>
                        <input type="text" ng-model="opts.newDish.servings_total" placeholder="Servings total"/>
                        <input type="text" ng-model="opts.newDish.servings_available" placeholder="Servings available"/>
                        <input type="text" ng-model="opts.newDish.calories" placeholder="Calories"/>
                        <button type="submit">Create</button>
                        <button type="button" ng-click="opts.showDishCreateForm = false">Close</button>
                    </form>
                </div>
                
                </div>
            
            </div>
           
            

            <div>
                <div ng-repeat="dish in dishes" style="border-bottom: 1px solid black;">
                    <h5>ID: {{ dish.data.id }}</h5>
                    <p>Chef: {{ dish.data.chef.first_name }} {{ dish.data.chef.last_name }}</p>
                    <span ng-if="dish.images.length === 0">(No images found)</span>
                    <img ng-repeat="image in dish.images" ng-src="{{ image.url }}" style="width: 200px;"/>
                    <p ng-repeat="key in Object.keys(dish.data)">{{ key }} {{ dish.data[key] }}</p>
                    
                    <h5>Name: <input type="text" ng-model="dish.data.name" placeholder="dish name" /></h5>
                    <p>Description: <input type="text" ng-model="dish.data.description" placeholder="dish description" /></p>
                    
                    <div ng-repeat="review in dish.data.reviews">
                        <p>Reviewer: {{ review.reviewer_first_name }} {{ review.reviewer_last_name }}</p>
                        <p>Value: {{ review.value_score }}, Taste: {{ review.taste_score }}, Service: {{ review.service_score }}</p>
                        <p>Comment: {{ review.comment }}</p>
                    </div>
                    
                    <form>
                        
                        <button ng-click="dish.update()">Update</button><button ng-click="dish.remove()">Delete</button>
                    </form>
                    <form>
                        
                    </form>
                </div>
            </div>
        
        </section>
        
        <section ng-show="screen == 'login' " ng-controller="authTestHarness"  style="border: 1px solid green;">
            <form ng-submit="submitLogin()">
                
                <input type="text" ng-model="cred.username" placeholder="Username"/> 
                <input type="password" ng-model="cred.password" placeholder="Password"/>
                <button type="submit">Login</button>
                
                <p>Last login API token was: {{ lastApiToken }}</p>
                
            </form>
            
            <div>
                <button ng-click="submitLogout()">Logout</button>
            </div>
            
        </section>
        
        <section ng-show="screen == 'user' " ng-controller="userTestHarness">
            <h2>View a user (read only)</h2>
            <div>
                <input type="text" ng-model="lookupUserId" placeholder="Lookup another user by their ID"/>
            </div>
            <div>
                <p ng-repeat=""></p>
            </div>
        </section>
        
        <section ng-show="screen == 'profile' " ng-controller="userTestHarness">
            <h2>Update my own details</h2>
            <form ng-submit="updateUser">
                <div ng-repeat="(name, prop) in user.data">
                    <p>{{ name }} <input type="text" ng-model="prop" /></p>
                </div>
                <button type="submit">Update</button>
            </form>
        </section>
        
        <section ng-show="screen == 'orders' " ng-controller="orderTestHarness" style="border: 1px solid orange;">
            <form ng-submit="submitOrder()">
                <h4>Lookup my orders</h4>
                <p>You are ({{ user.data.id }}) @{{ user.data.username }} : {{ user.data.first_name }} {{ user.data.last_name }}</p>
                <div ng-repeat=""></div>
        </section>
        
        <section ng-show="screen == 'neworder' " ng-controller="orderTestHarness" style="border: 1px solid orange;">
            <form ng-submit="submitOrder()">
                <h4>Make an order</h4>
                <p>You are ({{ user.data.id }}) @{{ user.data.username }} : {{ user.data.first_name }} {{ user.data.last_name }}</p>
                <div>
                    <input type="text" ng-model="orderDishId" placeholder="dish ID"/>
                    <input type="number" ng-model="orderForm.servings_purchased" placeholder="How many servings"/>
                </div>
                <div>
                    <p>Dish name: {{ orderDish.data.name }}, Seller: @{{ orderDish.data.chef.username }} <strong>Servings left: {{ orderDish.data.servings_available }}</strong></p>
                </div>
                <div>
                    Pickup Delivery
                    <select ng-model="orderForm.pickup_delivery" placeholder="P for pickup, D for delivery">
                        <option value="P">Pickup</option>
                        <option value="D">Delivery</option>
                        <option value="PD">Both</option>
                    </select>                
                </div>
                <div>
                    <div ng-show="orderForm.pickup_delivery.indexOf('P') > -1 ">
                        Pickup 
                        <input type="date" ng-model="orderForm.preferred_pickup_time" placeholder="Pickup when?"/>
                    </div>
                    <div ng-show="orderForm.pickup_delivery.indexOf('D') > -1 ">
                        Delivery
                        <input type="date" ng-model="orderForm.preferred_delivery_time" placeholder="Delivery when?"/>                
                    </div>
                </div>
                <br/>
                Notes
                <textarea ng-model="orderForm.notes"></textarea>
                <br/><br/>
                <button type="submit">Make order</button>
            </form>
        </section>
        
        
        <!-- Of course, we need angular -->
        <script src="lib/angular/angular.min.js"></script>
        
        <!-- Core service components -->
        <script src="lib/tia-resource/tia-resource.js"></script>
        <script src="lib/tia-resource/tia-resource-dish.js"></script>
        <script src="lib/tia-resource/tia-resource-auth.js"></script>
        <script src="lib/tia-resource/tia-resource-user.js"></script>
        <script src="lib/tia-resource/tia-resource-order.js"></script>
        
        <!-- Test harness components -->
        <script src="app/testharness.js"></script>
        <script src="app/dishtestharness.js"></script>
        <script src="app/authtestharness.js"></script>
        <script src="app/ordertestharness.js"></script>
        <script src="app/usertestharness.js"></script>
        
    </body>
</html>